body {
  font-family: "Arial", sans-serif;
  background-color: #efeae4;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

button {
  border-radius: 8px;
  padding: 10px 15px;
  background-color: rgba(0, 55, 123, 0.93);
  color: #fff;
  border: none;
}
